@charset 'utf-8';

* {margin:0; padding:0; box-sizing:border-box;}
html,body {font-family:'나눔고딕';}
img {display:block; max-width:100%;}

#course {width:750px; border:0px solid red; margin:auto; margin-top:50px;}
#course>section {padding-top:30px;}

#course img.en {transform:translateY(5px); z-index:-1; position:relative;}

#course h2 {font-size:1.15rem; font-weight:600; color:#333;}
#course h2::before {content:url('../images/icon01.gif'); top:5px; position:relative; margin-right:10px;}

#course .border {border:1px solid #ccc; border-radius:10px; margin-top:20px; display:flex; padding:15px 30px;}

#course h3 {font:500 1.1rem '바탕';}
#course h3:first-child {margin-bottom:18px;}

#course .left {background:url('../images/bg01.gif') no-repeat left 10px; border-right:1px solid #eee; padding:9px 20px 0 30px;}

#course .right {margin-top:-3px; line-height:255%;}















